@font-face {
  font-family: NotoSans-Bold;
  src: url(/fonts/NotoSans-Bold.ttf);
}
@font-face {
  font-family: NotoSans-Regular;
  src: url(/fonts/NotoSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
.header-logo {
  margin: 70px 868px;
}
.text-info, .title-info, .descriptor-info, .info-footer {
  color: #FFFFFF;
}
 .text-info {
  position: absolute;
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  width: 315.16px;
  height: 25px;
  left: 802px;
  top: 261px;
}
.title-info {
  position: absolute;
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  font-variant: small-caps;
  width: 932px;
  height: 86px;
  left: 493px;
  top: 286px;
}
.descriptor-info {
  position: absolute;
  width: 589px;
  height: 57px;
  left: 665px;
  top: 375px;
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}
.header {
  background-image: url(/public/backg.png);
  position: absolute;
  width: 1921px;
  height: 900px;
  left: -1px;
  top: 0px;
}
.button {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100.05px;
  height: 100px;
  left: 806px;
  top: 482px;
  border: none;
  border-radius: 70%;
  background-color: rgba(0, 0, 0, 0);
}

.button:hover, .button-black:hover, .button-footer:hover {
  background-color: #A9A32A;
}
.socials {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 166.12px;
  height: 30.03px;
  left: 876px;
  top: 832px;
}
.socials img {
  width: 30px;
  height: 30px;
}
.services {
  position: absolute;
  width: 1199px;
  height: 763px;
  left: 360px;
  top: 1050px;
}
.services-img {
  float: right;
  margin-top: 93px;
}
.title-services,.first-paragraph, .paragraph-services, .description-clients, .title-clients, .title-steps, .title-list, .title-footer {
  font-family: 'NotoSans-Bold';
  font-style: normal;
}
.text-services,.first-paragraph, .paragraph-services, .line, .text-slider, .block, .text-rate, .description-clients, .title-list, .description-list {
  color: #303030;
}
.text-services,.first-paragraph, .paragraph-services {
  margin-right: 689px;
}
.title-services, .title-clients, .title-steps, .numbers-list{
  color: #868585;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.first-paragraph {
  margin-top: 60px; 
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.paragraph-services {
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

}
.text-slider, .text-services, .text-block, .numbers-list, .description-list, input {
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.text-services {
  margin-top: 15px;
  margin-bottom: 31px;
}
.green-rate {
  position: absolute;
  width: 1194px;
  height: 765px;
  left: 360px;
  top: 1960px;
}
.line {
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 60px;
  margin-right: 200px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.underline {
  text-decoration: none;
  border-bottom: 2px solid #303030 ;
 }
.slider {
  height: 200px;
  width: 510px;
}
.slider-img {
  float: left;
  width: 235px;
  height: 200px;
  left: 360px;
  top: 2203px;
}
.text-slider {
  margin-top: 125px;
  margin-left: 275px;
  width: 235px;
  height: 114px;
  left: 635px;
  top: 2203px;
}
.l-arrow {
  margin-left: 41px;
  margin-top: 81px; 
}
.l-arrow:hover, .r-arrow:hover, .l-arrow-clients:hover, .r-arrow-clients:hover{
  filter: invert(63%) sepia(55%) saturate(524%) hue-rotate(19deg) brightness(88%) contrast(90%);
}
.r-arrow {
  margin-left: 22px;
}
.block {
  margin-top: 100px;
  margin-right: 90px;
  height: 231px;
  top: 2503px;
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.one-block {
  width: 235px;
  height: 109.44px;
}
.two-block {
  width: 235px;
  height: 107px;
}
.three-block {
  width: 235px;
  height: 88px;
}
.four-block{
  width: 235px;
  height: 72.53px;
}
.title-block, .text-rate {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}
.rate-description {
  margin-top: 60px;

  width: 600px;
  height: 130px;
  left: 960px;
  top: 2056px;
}
.img-rate {
  margin-top: 17px;
}
.big-rate {
  display: flex;
}
.quote {
  position: absolute;
  background-image: url(/public/quote_bg.jpg);
  width: 1920px;
  height: 500px;
  left: 0px;
  top: 2878px;
}
.text-quote {
  color: #FFFFFF;
  width: 663px;
  height: 228px;
  left: 623px;
  top: 3006px;
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 128px 624px 144px 623px;
}
.clients {
  position: absolute;
  width: 1200px;
  height: 495px;
  left: 360px;
  top: 3528px;
}
.img-clients {
  float: left;
}
.title-clients {
  margin-bottom: 60px;
}
.description-clients {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-right: 121px;
  margin-bottom: 30px;
  margin-left: 601px;
}
.checklist-clients {
  font-family:'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 651px;
}
.text-checklist-two {
 margin-top: 15px;
}
.text-checklist-three, .text-checklist-four {
  margin-top: 16px;
}
.button-clients {
  margin-top: 65px;
  margin-left: 601px;
}
.button-black, .button-footer {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 70%;
  background-color: rgba(0, 0, 0, 0);
}
.l-arrow-clients {
  margin-top: 26px;
  margin-left: 276px;
}
.r-arrow-clients {
  margin-left: 22px;
}
.steps {
  position: absolute;
  width: 1200px;
  height: 730px;
  left: 360px;
  top: 4173px;
}
.title-steps {
  width: 324px;
  height: 66px;
  left: 361px;
}
.house-steps {
  float: right;
}
.list-steps {
  width: 510px;
  height: 604px;
  left: 360px;
  top: 4299px;
  margin-top: 60px;
}
.title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2px;
}
.one-step, .two-step, .three-step {
  width: 510px;
  height: 95px;
}
.four-step {
  width: 510px;
  height: 90px;
}
.five-step {
  width: 510px;
  height: 109px;
}
.numbers-list {
  margin-top: 30px;
  margin-bottom: 11px;
}
.footer {
  position: absolute;
  width: 1920px;
  height: 730px;
  left: 0px;
  top: 5053px;
  background-image: url(/public/footer_bg.png);
}
.ending {
  display: flex;
  width: 1200px;
  height: 410px;
  margin-top: 70px;
  margin-left: 360px;
}
.application {
  width: 510px;
  height: 513px;
}
.information {
  width: 600px;
  height: 317px;
  margin-left: 91px;
}
input{
  height:30px;opacity:1;
  width: 510px;
  margin-top: 60px;
  background: none;
  border: none;
  border-bottom: solid 0.5px white;
  outline: none;
  color: #FFFFFF; 
}
::placeholder {
  color: white;
  opacity: 1; 
}
.title-footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.info-footer {
  font-family:'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 60px;
}
.text-footer {
  margin-bottom: 30px;
}
.button-footer {
  margin-top: 60px;
}
.links-footer {
  display: flex;
  justify-content: space-between;
  width: 1199.04px;
  height: 51px;
  margin-top: 150px;
  margin-left: 360px;
}
.politics-text {
  font-family: 'NotoSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 13px;
}
.footer-logo {
  width: 182px;
  height: 51px;
  margin-right: 50px;
}
.footer-links {
  width: 166.04px;
  height: 30.03px;
  display: flex;
  justify-content: space-between;
}
.arrow-clients:hover {
  background-color: #A9A32A;
}